.intro__text {
  max-width: 100%;
  max-height: 208px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  margin-bottom: 33px;
}

@media screen and (max-width: 644px) {
  .intro__text {
    max-height: 520px;
  }
}
